/* Reset some default styles for better control */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color and style the header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo{
    width: 140px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
    
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
    
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Style sections */
section {
    padding: 2rem;
}

/* Style individual projects */
.project {
    margin-bottom: 2rem;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Style the footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
